<%- include('partials/top') -%>

  <h1 style="text-align: center"class="text-4xl mb-4">Servers for <%= user.nickname %>: </h1>
  
<br><br><br><br>

  <p style="text-align:center">No servers yet...</p>

  <br><br><br><br><br><br><br>
  

<%- include('partials/style') -%>
  <%- include('partials/footer') -%>